workflow_rescue.json
{
  "name": "Cindy-PROD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cindy-telegram",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.minimaxi.chat/v1/text/chatcompletion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-cp-rNimS9edMc5yoxfsF42ITSRU-qUbF_Me7h67f5JEfaV_RxOYm6e9i2WEG1lIEzffOxZBn7ZqSK7PbczaeMotJ1mFu4k-WTzyKE65zUM1CQcQehAs_Vg8otc"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o"
            },
            {
              "name": "messages",
              "value": "={{[{\"role\": \"user\", \"content\": $json.text}]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request-node",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "responseBody": "={{ {\"text\": $json.choices[0].message.content, \"status\": \"success\"} }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        768,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
