workflow-cindy-telegram.json
    {
  "name": "Cindy-Telegram-n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cindy-telegram",
        "responseMode": "responseNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst received = body.text || 'mensagem vazia';\nreturn { json: { text: 'Cindy: ' + received, timestamp: new Date().toISOString() } };"
      },
      "id": "code",
      "name": "Process",
      "type": "n8n-nodes-base.code",
      "position": [450, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "firstEntryJson"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [650, 300],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Process", "type": "main", "index": 0}]]
    },
    "Process": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  }
}
